# Python
venv/
.venv
__pycache__/
*.pyc
*.pyo
*.pyd
env/
.env
*.sqlite3
data/data.db
backend/data/

# Node
node_modules/
build/
dist/
npm-debug.log
yarn-error.log

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Docker
docker-compose.override.yml

# Other
docs/contexte/
test_data/
